.onboard-page{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.onboard-page-cont{
    min-width: 30%;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: purple;
    min-height: 50vh;
}
.onboard-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    border: 5px solid white;
    position: absolute;
    top: -30px;
}
.onboard-logo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.onboard-form{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}

.onboard-input-cont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 5px;

}
.onboard-input-cont input{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding: 5px;
    box-sizing: border-box;
}

.onboard-radio-buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.onboard-radio-buttons label{
    display: flex;
    align-items: center;
}
.onboard-radio-buttons input{
   width: 20px;
   height: 20px;
}



/* home page */


.home-page{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
   
    
}
.home-page-left{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    width: 40%;
}

.home-page-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 40%;
}
.home-page-right img{
    width: 80%;
    height: 200px;
}
.home-page-right-btn button{
    padding: 5px;
    border-radius: 4px;
    border: none;
    /* background: ; */
}
.home-page-left-text1{
    font-size: 48px;
    font-weight: 600;
}
.home-page-left-text2{
    font-size: 18px;
    font-weight: 400;
}

/* created by */


.created-by{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}
.created-by-bottom{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;

}
.created-by-bottom-line{
    width: 2px;
    height: 100px;
    background: black;
}
@media screen and (max-width:900px){
    .onboard-page-cont{
        width: 80%;
    }
   
   }


   @media screen and (max-width:450px){
    .home-page{
        flex-direction: column;
    }
    .home-page-right,.home-page-left{
        width: 100%;
    }
   }